{% extends 'base.html.twig' %}

{% block title %}Hello TowerController!{% endblock %}

{% block body %}

 {% for tower in towers %}
    <div>{{ tower.name }} | {{ tower.damage }}</div>
 {% endfor %}

{% endblock %}
